.Card_name{
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.Card-Price{
  margin: 1.5em 0;
  color: rgb(3, 148, 97);
	font-size: 1.2em;
  font-weight: bold;
}
.card-img-top{
  filter: drop-shadow(1px 1px 3px );
  
}

.buy--btn {
	width: 10em;
	position: relative;
	height: 3.5em;
	border: 3px ridge #149CEA;
	outline: none;
	background-color: transparent;
	color: white;
	transition: 1s;
	border-radius: 0.3em;
	font-size: 16px;
	background-color: rgb(164, 100, 109);
	font-weight: bold;
	cursor: pointer;
}
.buy--btn::after{
	width: 10em;
	position: relative;
	height: 3.5em;
	border: 3px ridge #149CEA;
	outline: none;
	background-color: transparent;
	color: white;
	transition: 1s;
	border-radius: 0.3em;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.buy--btn::before{
	content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  
  transition: 0.5s;
}

.buy--btn:hover::before, button:hover::after {
	transform: scale(0)
  }
  
  .buy--btn:hover {
	box-shadow: inset 0px 0px 25px #1479EA;
  }
.Card_section{
	margin-left: 2rem;
	background: rgb(246, 246, 246);
	background: linear-gradient(90deg, rgb(248, 248, 248) 13%, rgb(255, 255, 255) 100%);
}
