/* Layout.css */

.layout-container {
    display: grid;
    background: rgb(210,255,255);
background: linear-gradient(90deg, rgba(210,255,255,1) 24%, rgba(6,148,198,1) 100%);
    /* background-image: url('https://img.freepik.com/free-photo/abstract-surface-textures-white-concrete-stone-wall_74190-8189.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703203200&semt=ais'); */
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    grid-template-rows: auto 1fr auto; /* Header, Main Content, Footer */
    
   
  }
  
  .main-content {
    min-height: 200vh;
    position: relative;
    top: 50px;
  }
  